@import "./colors.scss";
@import "./placeholders.scss";
@import "./mixins.scss";

html {
    font-size: 10px;
    overflow-x: hidden;
}

* {
    @include font();
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-width: 1280px;
    height: 100vh;
}
